<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <form action="" method="post">
        <div class="field">
            {{ userform.surname.errors }}
            <label for="id_surname">SurName: </label>
            {{ userform.surname }}
        </div>
        <div class="field">
            {{ userform.last_name.errors }}
            <label for="id_last_name">Last name: </label>
            {{ userform.last_name }}
        </div>
        <div class="field">
            {{ userform.email.errors }}
            <label for="id_email">Email: </label>
            {{ userform.email }}
        </div>
        <div class="field">
            {{ userform.username.errors }}
            <label for="id_username">Username: </label>
            {{ userform.username }}
        </div>
        <div class="field">
            {{ userform.password.errors }}
            <label for="id_password1">Password: </label>
            {{ userform.password }}
        </div>
        <div class="field">
            {{ userprofileform.address.errors }}
            <label for="id_address">Address: </label>
            {{ userprofileform.address }}
        </div>
        <div class="field">
            {{ userprofileform.city.errors }}
            <label for="id_city">City: </label>
            {{ userprofileform.city }}
        </div>
        <div class="field">
            {{ userprofileform.post.errors }}
            <label for="id_post">Post: </label>
            {{ userprofileform.post }}
        </div>
        {% csrf_token %}
        <input type="submit" value="Submit">
    </form>
</body>
</html>